
*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans',sans-serif;
    background-color: hsl(275, 100%, 97%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;


}
.card{
    z-index: 1;
    border-radius: 10px;
    width: 560px;
    padding: 35px;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    }


.head{
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    align-items: center;
    
}
#faqs{
    font-size: 50px;
}
.ask{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    font-weight: 600;
}
.info{
    margin-bottom: 40px;
    color: hsl(292, 16%, 49%);
}
/* .questions{

    list-style: none;
    
} */
li{
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;

    

}
.question-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.questions-header:hover.paragraph{
    color:hsl(275, 100%, 97%);
}
.answer {
    display: none;
    margin-top: 15px;
    color: hsl(292, 16%, 49%);
    line-height: 1.5;

}
.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.background img{
    width: 100%;
    display: block;
}

.paragraph{
    font-weight: 500;
    color: hsl(292, 42%, 14%);
}
#last{
    border-bottom: none;
}

@media(max-width:768px)
{
    body{
        overflow-x: hidden;
        width: 100%;
    }
    .background{
        background-repeat: no-repeat;
        background-size: cover;
        content: url(assets/images/background-pattern-mobile.svg);
    }
    .background img{
        width: 100%;
        display: block;
        
    }
    .card{
        padding: 25px 10px;
        width: 80%;
        margin: 0 auto;
        max-width: 360px;

    }
    #faqs{
        font-size: 40px;
    }
    







}
